<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main-title">
                <h1>Easy Personal Budgeting</h1>
            </div>
            <div class="col-lg-12">
                <img src="/img/banner.png" class="img-center img-responsive animated fadeInUp">
            </div>
        </div>
    </div>
</section>

<div id="features" class="container">
    <div class="row header">
        <div class="col-lg-12">
            <div class="space"></div>
            <div class="space"></div>
            <h2>Budget App</h2>
            <p class="main">
                See what you have and what you owe.
                Track your spending habit and more.
                Simplest personal budgeting app that free and easy to get started.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="space"></div>
            <a href="https://app.budgetapp.io/" class="btn btn-g btn-primary btn-lg js-viewport animated" data-animate="fadeInUp">Create Account</a>
            <p class="text-cta">Sign Up for Free</p>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-xs-12 col-sm-6">
                <img src="/img/screen_1.png" class="img-responsive img-deco img-center animated js-viewport" data-animate="bounceInLeft" alt="Sky UI is a beautiful theme" >
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature-space"></div>
                <h2>Awesome Dashboard</h2>
                <p class="description">
                    Overview of your budget in single place.
                    Show most useful metrics of your budget with awesome graphs.
                </p>
                <div class="space"></div>
            </div>
        </div>
    </div>
</section>

<section class="section alternate">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="/img/screen_2.png" class="img-responsive img-deco img-center animated js-viewport" data-animate="bounceInRight" alt="Sky UI is a beautiful theme" >
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <h2>Recurring Transactions</h2>
                <p class="description">
                    Create recurring transactions in seconds and we take care the rest.
                    Reminder shows up as recurring transaction occured.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-xs-12 col-sm-6">
                <img src="/img/screen_3.png" class="img-responsive img-deco img-center animated js-viewport" data-animate="bounceInLeft" alt="Sky UI is a beautiful theme" >
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Easy Budgeting</h2>
                <p class="description">
                    Simplest way to manage your personal budgeting.
                    Easily customize budget categories to suit your need.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="space"></div>
            <hr class="fancy-line">
            <div class="space"></div>
            <div class="space"></div>
        </div>
    </div>
    <div class="row icon-lg">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-heart icon-xxlg"></span>
                </div>
                <h3>Free &amp; Open Source</h3>
                <p class="description">
                    Want improve BudgetApp?
                    Contribute to BudgetApp on <a href="https://github.com/paukiatwee/budgetapp">Github</a>.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-mobile icon-xxlg"></span>
                </div>
                <h3>Mobile App <sup><span class="label label-success">roadmap</span></sup></h3>
                <p class="description">
                    Manage your budget on the go using mobile app.
                    Still on roadmap.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-check-square-o icon-xxlg"></span>
                </div>
                <h3>Simple To Use</h3>
                <p class="description">
                    BudgetApp designed to be simple to use &amp; easily to manage.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-files-o icon-xxlg"></span>
                </div>
                <h3>Easy To Personalize</h3>
                <p class="description">
                    BudgetApp create default categories and budgets for you.
                    You can easily customize in minutes.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-bar-chart icon-xxlg"></span>
                </div>
                <h3>Report</h3>
                <p class="description">
                    BudgetApp provide simple reporting tool for you to review previous transactions.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-server icon-xxlg"></span>
                </div>
                <h3>Host On Your Server</h3>
                <p class="description">
                    Don't trust me?
                    Want host BudgetApp for your family?
                    Host on your own server in minutes.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="space"></div>
            <a href="https://app.budgetapp.io/" class="btn btn-g btn-primary btn-lg js-viewport animated" data-animate="fadeInUp">Sign Up Now</a>
            <p class="text-cta">Meet Your Savings Goals</p>
        </div>
    </div>
</div>
