<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="http://placehold.it/1024x450" alt="Sky UI Responsive Theme" class="img-center img-responsive animated fadeInDown">
            </div>
        </div>
    </div>
</section>

<div id="features" class="container">
    <div class="row header">
        <div class="col-lg-12">
            <div class="space"></div>
            <div class="space"></div>
            <h2>Budget App Features</h2>
            <p class="main">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="space"></div>
            <button class="btn btn-g btn-primary btn-lg js-viewport animated" data-animate="fadeInUp">Create Account</button>
            <p class="text-cta">Sign Up for Free</p>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-6">
                <img src="http://placehold.it/800x600" class="img-responsive img-deco img-center animated js-viewport" data-animate="bounceInLeft" alt="Sky UI is a beautiful theme" >
            </div>
            <div class="col-md-6">
                <h2>Easy Budgeting</h2>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                    Donec eu libero sit amet quam egestas semper.
                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section alternate">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-6">
                <h2>Recurring Payment</h2>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                    Donec eu libero sit amet quam egestas semper.
                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                </p>
            </div>
            <div class="col-md-6">
                <img src="http://placehold.it/800x600" class="img-responsive img-deco img-center animated js-viewport" data-animate="bounceInRight" alt="Sky UI is a beautiful theme" >
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-6">
                <img src="http://placehold.it/800x600" class="img-responsive img-deco img-center animated js-viewport" data-animate="bounceInLeft" alt="Sky UI is a beautiful theme" >
            </div>
            <div class="col-md-6">
                <div class="feature-space"></div>
                <h2>Awesome Dashboard</h2>
                <p class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <div class="space"></div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="space"></div>
            <hr class="fancy-line">
            <div class="space"></div>
            <div class="space"></div>
        </div>
    </div>
    <div class="row icon-lg">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-heart icon-xxlg"></span>
                </div>
                <h3>Free &amp; Open Source</h3>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-mobile icon-xxlg"></span>
                </div>
                <h3>Native Mobile Client</h3>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-check-square-o icon-xxlg"></span>
                </div>
                <h3>Simple To Use</h3>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-files-o icon-xxlg"></span>
                </div>
                <h3>Easy To Personalize</h3>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-bar-chart icon-xxlg"></span>
                </div>
                <h3>Reports</h3>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box">
                <div class="icon">
                    <span class="fa fa-server icon-xxlg"></span>
                </div>
                <h3>Host On Your Server</h3>
                <p class="description">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="space"></div>
            <div class="space"></div>
            <button class="btn btn-g btn-primary btn-lg js-viewport animated" data-animate="fadeInUp">Sign Up Now</button>
            <p class="text-cta">No Credit Card Required</p>
        </div>
    </div>
</div>
